ul{list-style:none;}
a{text-decoration:none; color:black;}
ul li{width:110px; height:40px; margin-top:3px; font-size:18px; text-align:center; line-height:40px;
border-radius:3px;
transition:background-color 1s}
li:hover{background-color:#fa2f2f; cursor:pointer;}
li:hover{color:white;}
a:focus li{background-color:orange;}
